@import '../../../semantic/src/themes/default/globals/site.variables';

.headerpush, .header {
  height: 140px;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  transition: background-color 0.5s;

  &.opaque {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #eaeaea;
  }
}

.logo {
  text-align: center;
  img {
    width: 150px;
  }
}

@media only screen and (max-width: @tabletBreakpoint) {
  .headerpush, .header {
    height: 110px;
  }

  .logo {
    margin: 10px 0 -70px;
  }
}

@media only screen and (min-width: @tabletBreakpoint) {
  .logo {
    position: absolute;
    top: 30px;
    left: 50px;
    width: 150px;
  }
}

.ui.menu {
  position: absolute;
  top: 40px;
  left: 250px;

  .item {
    font-size: 2rem;
    font-weight: 600;
    color: #1b1464;

    &:hover {
      background: unset !important;
      color: #ff5500;
    }

    &.active {
      background: unset !important;

      &:hover {
        background: unset !important;
        color: #1b1464;
      }

      &:after {
        content: " ";
        position: absolute;
        bottom: 14px;
        left: 10%;
        width: 80%;
        height: 4px;
        background: #eaeaea;
      }
    }
  }
}