<div *ngIf="!splash"  class="header" [ngClass]="{ opaque: isScrolled }">
  <div class="logo">
    <img src="/assets/logo.svg"/>
  </div>
  <div class="ui compact massive secondary menu tablet hidden mobile hidden">
    <a class="item" routerLink="/player/setup" routerLinkActive="active">Setup</a>
    <a *ngIf="visible" class="item" routerLink="/devour" routerLinkActive="active">Devour</a>
    <a class="item" routerLink="/discover" routerLinkActive="active">Discover</a>
  </div>
  <app-player-indicator></app-player-indicator>
</div>