.ui.header {
  color: #581274;
  font-size: 2rem;
}

.filters.container {
  list-style: none;
  display: inline-block;
  padding: 0 40px 0 0;

  .filter {
    color: #1b1464;
    display: inline;

    a > img {
      opacity: 0.4;
      height: 30px;
    }

    &.active {
      a > img {
        opacity: 1;
      }
    }
  }
}