<div *ngIf="!splash" class="toolbar" [ngClass]="{ opaque: chatVisible || isScrolled }">
  <div class="primary action">
    <ng-template ngFor let-button [ngForOf]="toolbarService.primaryButtons">
      <button class="ui button huge" (click)="button.callback()" [disabled]="button.disabled" [title]="button.text">
        <i *ngIf="button.icon != null && button.iconPosition === buttonIconPosition.Left" class="fa fa-fw fa-{{button.icon}}"></i>
        <span *ngIf="button.icon == null || button.iconPosition !== buttonIconPosition.Center">{{button.text}}</span>
        <i *ngIf="button.icon != null && button.iconPosition === buttonIconPosition.Center" class="fa fa-{{button.icon}}"></i>
        <i *ngIf="button.icon != null && button.iconPosition === buttonIconPosition.Right" class="fa fa-fw fa-{{button.icon}} right"></i>
      </button>
    </ng-template>
    <button class="ui button huge" title="Call Server">
      <i class="fa fa-phone"></i>
    </button>
    <button class="ui button huge" (click)="chatVisible = !chatVisible" title="Show Chat">
      <i class="fa fa-comments"></i>
    </button>
  </div>
  <div class="secondary action">
    <ng-template ngFor let-button [ngForOf]="toolbarService.secondaryButtons">
      <button class="ui button huge" (click)="button.callback()" [disabled]="button.disabled" [title]="button.text">
        <i *ngIf="button.icon != null && button.iconPosition === buttonIconPosition.Left" class="fa fa-fw fa-{{button.icon}}"></i>
        {{button.text}}
        <i *ngIf="button.icon != null && button.iconPosition === buttonIconPosition.Right" class="fa fa-fw fa-{{button.icon}} right"></i>
      </button>
    </ng-template>
  </div>
</div>
<app-chat-container *ngIf="!splash" [active]="chatVisible"></app-chat-container>