#character-view {
  padding-top: 15vh;
}

#name-type {
  .image, .image img {
    width: 100px;
    height: 100px;
  }
  .content {
    .header {
      font-size: 2.5rem;
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }
    .meta {
      font-size: 1.2rem;
    }
  }
}

#attributes {
  margin-top: 4em;
}

#large-image {
  img {
    margin-top: 50px;
    margin-left: 50px;
  }
}

#small-image {
  width: 80%;
  margin: 0 auto;

  img {}
}