@import '../../../semantic/src/themes/default/globals/site.variables';

:host {
  position: relative;
  height: 100%;
}

.ui.middle.aligned.grid {
  height: ~"calc(100% - 140px)";
  width: 100%;
}

.page-title {
  width: 100%;
  h1.ui.header {
    color: #1b1464;
  }
}

.add-form {
  width: 100%;
}

.avatar {
  border: 5px solid #eaeaea;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  text-align: center;
  background: #fff;
  margin: 5px auto 20px;

  &.one {
    border-color: #00ffff;
  }
  &.two {
    border-color: #375ef0;
  }
  &.three {
    border-color: #ff00ff;
  }
  &.four {
    border-color: #fec80e;
  }
  &.five {
    border-color: #ff5500;
  }

  .name {
    font-size: 100px;
    line-height: 1;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-45%);
    color: #1b1464;
  }
}

#player-name {
  width: 100%;
  margin: auto;
  margin-bottom: 2em;
  position: relative;
  input {
    font-size: 20px;
    border: 2px solid #a1a1a1;
    color: #1b1464;
    border-radius: 0;
  }
  span.error {
    position: absolute;
    bottom: -25px;
    left: 10px;
    color: #F900FD;
  }
}

.line {
  font-size: 20px;
  text-align: center;
  margin-bottom: 0.5em;
  color: #1b1464;
  font-family: "Corbel", sans-serif;
}
