<div class="logo">
    <img src="/assets/logo.svg"/>
</div>
<div style="height: 100%; position: relative;">
    <div class="ui grid page-title">
        <div class="sixteen wide column">
            <h1 class="ui center aligned header">Player Setup</h1>
        </div>
    </div>
    <div class="players-container">
        <div class="ui grid">
            <div class="one wide column"></div>
            <div class="fourteen wide column">
                <div class="ui five column stackable grid">
                    <div class="column center aligned">
                        <div class="player one" [ngClass]="{'empty': playerService.playerOne == null}">
                            <span *ngIf="playerService.playerOne != null" class="name">{{playerService.playerOne.shortName}}</span>
                        </div>
                    </div>
                    <div class="column center aligned">
                        <div class="player two" [ngClass]="{'empty': playerService.playerTwo == null}">
                            <span *ngIf="playerService.playerTwo != null" class="name">{{playerService.playerTwo.shortName}}</span>
                        </div>
                    </div>
                    <div class="column center aligned">
                        <div class="player three" [ngClass]="{'empty': playerService.playerThree == null}">
                            <span *ngIf="playerService.playerThree != null" class="name">{{playerService.playerThree.shortName}}</span>
                        </div>
                    </div>
                    <div class="column center aligned">
                        <div class="player four" [ngClass]="{'empty': playerService.playerFour == null}">
                            <span *ngIf="playerService.playerFour != null" class="name">{{playerService.playerFour.shortName}}</span>
                        </div>
                    </div>
                    <div class="column center aligned">
                        <div class="player five" [ngClass]="{'empty': playerService.playerFive == null}">
                            <span *ngIf="playerService.playerFive != null" class="name">{{playerService.playerFive.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="one wide column"></div>
        </div>
    </div>
    <div class="primary action">
        <button class="ui button massive" [disabled]="false">Ready</button>
    </div>
</div>