<div class="logo">
    <img src="/assets/logo.svg"/>
</div>
<div style="height: 100%; position: relative;">
    <div class="ui grid page-title">
        <div class="sixteen wide column">
            <h1 class="ui center aligned header">Player Setup</h1>
        </div>
    </div>
    <div class="players-container">
        <div class="ui grid">
            <div class="one wide column"></div>
            <div class="fourteen wide column">
                <div class="ui five column stackable grid">
                    <div class="column center aligned">
                        <div class="player one" [ngClass]="{'empty': false}">
                            <span class="name">Na</span>
                        </div>
                    </div>
                    <div class="column center aligned">
                        <div class="player two" [ngClass]="{'empty': true}">
                        </div>
                    </div>
                    <div class="column center aligned">
                        <div class="player three" [ngClass]="{'empty': true}">
                        </div>
                    </div>
                    <div class="column center aligned">
                        <div class="player four" [ngClass]="{'empty': true}">
                        </div>
                    </div>
                    <div class="column center aligned">
                        <div class="player five" [ngClass]="{'empty': true}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="one wide column"></div>
        </div>
    </div>
    <div class="primary action">
        <button class="ui button massive" [disabled]="false">Ready</button>
    </div>
</div>