@import '../../../semantic/src/themes/default/globals/site.variables';

:host {
  position: relative;
  height: 100%;
}

.ui.middle.aligned.grid {
  height: ~"calc(100% - 140px)";
  width: 100%;
}

.page-title {
  width: 100%;
  h1.ui.header {
    color: #1b1464;
  }
}

.players-container {
  padding-top: 70px;

  .ui.grid {
    width: 100%;
  }

  .player {
    vertical-align: middle;
    border-radius: 50%;
    border: 4px solid #000;
    margin: 0 auto;
    background: #fff;
    cursor: pointer;
    position: relative;

    &.empty {
      &:after {
        content: "+";
        font-size: 100px;
        line-height: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    &.one {
      border-color: #00ffff;
      color: #00ffff;
    }
    &.two {
      border-color: #375ef0;
      color: #375ef0;
    }
    &.three {
      border-color: #ff00ff;
      color: #ff00ff;
    }
    &.four {
      border-color: #fec80e;
      color: #fec80e;
    }
    &.five {
      border-color: #ff5500;
      color: #ff5500;
    }

    .name {
      font-size: 96px;
      line-height: 1;
      font-weight: 400;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-45%);
      color: #1b1464;
    }
  }

  .details {
    margin-top: 10px;
    .name {
      font-size: 25px;
      line-height: 1.5;
      font-weight: bolder;
      color: #1b1464;
    }

    .cart.link {
      font-size: 18px;
      color: #1b1464;

      &:hover {
        color: #ff5500;
      }
    }
  }
}

.line {
  font-size: 20px;
  text-align: center;
  margin-bottom: 0.5em;
  color: #1b1464;
  font-family: "Corbel", sans-serif;
}

@media only screen and (min-width: @computerBreakpoint) and (max-width: @largeMonitorBreakpoint) {
  .players-container {
    .player .name {
      font-size: 62px;
    }
    .player.empty:after {
      font-size: 70px;
    }
  }
}

@media only screen and (min-width: @tabletBreakpoint) and (max-width: @computerBreakpoint) {
  .players-container {
    .player .name {
      font-size: 40px;
    }
    .player.empty:after {
      font-size: 48px;
    }
  }
}

@media only screen and (min-width: @tabletBreakpoint) {
  .players-container {
    .player {
      min-width: 120px;
      min-height: 120px;
      width: 12vw;
      height: 12vw;
    }
  }
}

@media only screen and (max-width: @tabletBreakpoint) {
  .player {
    min-width: 150px;
    min-height: 150px;
    width: 50vw;
    height: 50vw;
  }
}